In [2]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from citipy import citipy
import requests
import time
from datetime import datetime

# Import the API key.
from config import weather_api_key

In [3]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key

In [21]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=20)
lngs = np.random.uniform(low=-180.000, high=180.000, size=20)
lat_lngs = zip(lats, lngs)
lat_lngs

In [22]:
# Create a practice set of random latitude and longitude combinations.
x = [25.12903645, 25.92017388, 26.62509167, -59.98969384, 37.30571269]
y = [-67.59741259, 11.09532135, 74.84233102, -76.89176677, -61.13376282]
coordinates = (zip(x, y))

In [23]:
# Use the tuple() function to display the latitude and longZZZitude combinations.
for coordinate in coordinates:
    print(coordinate[0], coordinate[1])

25.12903645 -67.59741259
25.92017388 11.09532135
26.62509167 74.84233102
-59.98969384 -76.89176677
37.30571269 -61.13376282

In [24]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [33]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)
#print(cities)

['bambous virieux', 'port alfred', 'dikson', 'punta arenas', 'mahebourg', 'bluff', 'ahipara', 'byron bay', 'new norfolk', 'coihaique', 'tabiauea', 'vaitupu', 'kysyl-syr', 'butaritari', 'chokurdakh', 'port elizabeth', 'lorengau', 'cape town', 'avarua']

In [9]:
# Create an empty list to hold the weather data.
#city_data = []
# Print the beginning of the logging.
#print("Beginning Data Retrieval     ")
#print("-----------------------------")

# Create counters.
#record_count = 1
#set_count = 1

Beginning Data Retrieval
-----------------------------

In [10]:
# Loop through all the cities in our list.
#for i in range(len(cities)):

    # Group cities in sets of 50 for logging purposes.
 #   if (i % 50 == 0 and i >= 50):
  #      set_count += 1
   #     record_count = 1
    #    time.sleep(60)

    # Create endpoint URL with each city.
   # city_url = url + "&q=" + cities[i]

In [35]:

# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    
    # Run an API request for each of the cities.
    try:
         # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]

        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')

        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

    # If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | bambous virieux
Processing Record 2 of Set 1 | port alfred
Processing Record 3 of Set 1 | dikson
Processing Record 4 of Set 1 | punta arenas
Processing Record 5 of Set 1 | mahebourg
Processing Record 6 of Set 1 | bluff
Processing Record 7 of Set 1 | ahipara
Processing Record 8 of Set 1 | byron bay
Processing Record 9 of Set 1 | new norfolk
Processing Record 10 of Set 1 | coihaique
Processing Record 11 of Set 1 | tabiauea
City not found. Skipping...
Processing Record 12 of Set 1 | vaitupu
City not found. Skipping...
Processing Record 13 of Set 1 | kysyl-syr
Processing Record 14 of Set 1 | butaritari
Processing Record 15 of Set 1 | chokurdakh
Processing Record 16 of Set 1 | port elizabeth
Processing Record 17 of Set 1 | lorengau
Processing Record 18 of Set 1 | cape town
Processing Record 19 of Set 1 | avarua
-----------------------------
Data Retrieval Complete
-----------------------------

In [37]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Bambous Virieux,-20.3428,57.7575,74.21,94,20,5.75,MU,2022-04-28 19:33:50
1,Port Alfred,-33.5906,26.8910,66.31,58,2,9.64,ZA,2022-04-28 19:33:50
2,Dikson,73.5069,80.5464,9.73,92,93,21.52,RU,2022-04-28 19:33:51
3,Punta Arenas,-53.1500,-70.9167,46.42,70,75,23.02,CL,2022-04-28 19:31:24
4,Mahebourg,-20.4081,57.7000,74.25,94,20,5.75,MU,2022-04-28 19:33:51
5,Bluff,-46.6000,168.3333,47.12,88,58,6.49,NZ,2022-04-28 19:33:51
6,Ahipara,-35.1667,173.1667,57.78,86,7,7.09,NZ,2022-04-28 19:33:52
7,Byron Bay,-28.6500,153.6167,66.94,87,82,3.74,AU,2022-04-28 19:33:52
8,New Norfolk,-42.7826,147.0587,58.50,86,0,3.47,AU,2022-04-28 19:33:52
9,Coihaique,-45.5752,-72.0662,46.35,49,40,6.91,CL,2022-04-28 19:31:34

In [39]:
#reorder the columns as City, Country, Date, Lat, Lng, Max Temp, Humidity, Cloudiness, and Wind Speed, so they are easy to read.

new_column_order = ["City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]

In [41]:
#we assign a new or the same DataFrame with new column order:

city_data_df= city_data_df[new_column_order]
city_data_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Bambous Virieux,MU,2022-04-28 19:33:50,-20.3428,57.7575,74.21,94,20,5.75
1,Port Alfred,ZA,2022-04-28 19:33:50,-33.5906,26.8910,66.31,58,2,9.64
2,Dikson,RU,2022-04-28 19:33:51,73.5069,80.5464,9.73,92,93,21.52
3,Punta Arenas,CL,2022-04-28 19:31:24,-53.1500,-70.9167,46.42,70,75,23.02
4,Mahebourg,MU,2022-04-28 19:33:51,-20.4081,57.7000,74.25,94,20,5.75
5,Bluff,NZ,2022-04-28 19:33:51,-46.6000,168.3333,47.12,88,58,6.49
6,Ahipara,NZ,2022-04-28 19:33:52,-35.1667,173.1667,57.78,86,7,7.09
7,Byron Bay,AU,2022-04-28 19:33:52,-28.6500,153.6167,66.94,87,82,3.74
8,New Norfolk,AU,2022-04-28 19:33:52,-42.7826,147.0587,58.50,86,0,3.47
9,Coihaique,CL,2022-04-28 19:31:34,-45.5752,-72.0662,46.35,49,40,6.91
10,Kysyl-Syr,RU,2022-04-28 19:33:53,63.8986,122.7617,13.05,97,42,1.97
11,Butaritari,KI,2022-04-28 19:33:53,3.0707,172.7902,81.52,79,100,16.24
12,Chokurdakh,RU,2022-04-28 19:33:54,70.6333,147.9167,-8.10,100,100,3.87
13,Port Elizabeth,ZA,2022-04-28 19:33:54,-33.9180,25.5701,60.31,83,0,4.61
14,Lorengau,PG,2022-04-28 19:33:54,-2.0226,147.2712,80.26,76,99,0.29
15,Cape Town,ZA,2022-04-28 19:33:22,-33.9258,18.4232,60.91,86,20,9.22
16,Avarua,CK,2022-04-28 19:33:55,-21.2078,-159.7750,82.45,78,20,10.36

In [42]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"

# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")